@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
@import "./resen.css";

body {
    font-family:"Inter", sans-serif ;
    margin-top: 50px;
    background: #282828;
    display: flex;
    justify-content: center;
}
/* * {
    border: 1px solid #000;
} */

.weather {
    color: #fff;
    padding: 30px 20px;
    
    width: 320px;
    border-radius: 16px;
    background: linear-gradient(167deg, #42d2a6 4.7%, #007991 95.98%), #389196;
    

}
.form {
    padding: 8px 10px 8px 20px ;
    display: flex;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    border-radius: 60px;
    width: 100%;
    height: 40px;
}
.input {
    color:#000;
}
.input::placeholder {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);

    
}
.weather__img {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    margin-top: 20px;
}
.form__btn {
}
.weather__temp {
    margin-top: 17px;
    font-weight: 700;
    font-size: 56px;
    text-align: center;
}
.weather__city {
    font-weight: 500;
    font-size: 38px;
    text-align: center;
    
}
.weather__details {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

    
}
.details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 0 10px;
}
.detsils__img {
    grid-row: 1/3;
    align-self: center;
    width: 36px;
    height: 36px;
}
.details__value {
    font-weight: 300;
    font-size: 20px;
}
.details__title {
    font-weight: 300;
    font-size: 14px;
}